/* استدعا الخط من googl font */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&family=Petemoss&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Work+Sans:ital,wght@0,100;0,200;0,300;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    font-family: 'Open Sans', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}
header {
    background-color: #f0f0f0;
    width: 100%;
    position: fixed;
    z-index: 999;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 100px;
}
.logo {
   text-decoration: none;
   color: deepskyblue;
   text-transform: uppercase;
   font-weight: 700;
   font-size: 1.8em;
   animation: color 5s ease-in-out infinite;
   -webkit-animation: color 5s ease-in-out infinite;
}
@keyframes color{
    0%{color: blue;}
    50%{color: tomato;}
    100%{color: violet;}
    
}
.navigation a {
    color:deepskyblue;
    text-decoration: none;
    font-weight: 500;
    font-size: 1.1em;
    padding-left: 30px;
    animation: soma 5s ease-in-out infinite;
    -webkit-animation: soma 5s ease-in-out infinite;
}
@keyframes soma {
    0%{color: blue;}
    50%{color: tomato;}
    100%{color: violet;}
    
}
.navigation a:hover {
    color: #29de92;
}
section {
    padding: 50px 100px;
}
.main {
    width: 100%;
    min-height: 100vh;
    display: flex;
    align-items: center;
    background: url(./imgs/salama1.jpg) no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}
.main h2 {   
    color: #fff;
    font-size: 1.4em;
    font-weight: 500;
}
.main h2 span {
    display: inline-block;
    margin-top: 10px;
    color: #3e6787;
    font-size: 2em;
    font-weight: 600;
}
.main h3 {
    color: #fff;
    font-size: 1em;
    font-weight: 700;
    letter-spacing: 1px;
    margin-top: 10px;
    margin-bottom: 30px;
}
.main-button {
    color: #fff;
    background-color: #00bbf0;
    text-decoration: none;
    font-size: 1.1em;
    font-weight: 600;
    display: inline-block;
    padding: 0.9375em;
    letter-spacing: 1px;
    border-radius: 15px;
    margin-bottom: 40px;
    transition: 0.5s ease;
}
.main-button:hover {
    background-color: #005792;
    transform: scale(1.1);
}
.icon a {
    color: #fff;
    font-size: 1.7em;
    padding-right: 30px;
}
.titel {
    display: flex;
    justify-content: center;
    color: deepskyblue;
    font-size: 2.2em;
    font-weight: 600;
    margin-bottom: 30px;
}
.content {
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
}
.card {
    background-color: #fff;
    width: 21.25em;
    box-shadow: 0 5px 25px rgba(1,1,1, 15%);
    border-radius: 15px;
    padding: 25px;
    margin: 15px;
    transition: 0.4s ease;
}
.card:hover {
    transform: scale(1.1);
}
.icons {
    color:deepskyblue;
    font-size: 4.8em;
    text-align: center;
}
.info h3 {
    color: deepskyblue;
    font-size: 1.6em;
    font-weight: 700;
    margin: 10px;
    text-align: center;
}
.info p {
letter-spacing: 1px;
text-align: center;
}
/* بدايه projecys */
.projecys {
    background-color: #000016;
}
.projecys .content {
    margin-top: 30px;
}
.projecys-card {
    background-color: #fff;
    border: 1px solid #fff;
    min-height: 14em;
    width: 23em;
    overflow: hidden;
    border-radius: 10px;
    margin: 20px;
    transition: 0.5s ease;
}
.projecys-card:hover {
    transform: scale(1.1);
}
.projecys-imges img {
    width: 100%;
}
.projecys-info {
    padding: 1em;
}
.projecys-cat {
    font-size: 0.8em;
    color: #000;
}
.projecys-titel {
    display: flex;
    justify-content: space-between;
    text-transform: uppercase;
    font-weight: 800;
    margin-top: 10px;
}
.more-delat {
    text-decoration: none;
    color: deepskyblue;
}
.more-delat:hover {
    color: #29de92;
}
/* نهاييه projecys */
.content .icons {
    font-size: 4.5em;
}
.content .info h3 {
color: #000;
}
.content .info p {
font-size: 1.5em;
}
.foter {
    background-color: #000016;
    color: #fff;
    display: flex;
    justify-content: space-between;
    padding: 2em;
}
.foter-titel {
    font-size: 1.3em;
    font-weight: 600;
}
.foter-titel span {
    color: #00bbf0;
}
.foter.icon a {
    font-size:1.3em; 
    padding-right: 12px;
}
@media (max-width:1032px) {
    header {
        padding: 10px 15px;
    }
    .navigation a {
        padding-left: 10px;
    }
    .titel {
        font-size: 1.6em;
    }
    section {
        padding: 60px 10px;
    }
    .main h2{
        font-size:1em ;
    }
    .main h3 {
        font-size: 0.7em;
    }
    .content {
        flex-direction: column;
        align-items: center;
    }
}
@media (max-width: 641px){
    body {
        font-size: 12px;
    }
    .main h2 {
        font-size: 0.8em;
    }
    .main h3{
        font-size: 1.4em;
    }
}
@media (max-width:300px){
   body {  font-size: 8px;
}
}

